body {
    font-size: 16px;
    font-family: IBMPlex;
    max-width: 740px;
    margin: 0 auto;
    padding-left: 0.3125em;
    padding-right: 0.3125em;
}

main {
    padding-top: 0.5em;
}

main h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

main p {
    margin: 0;
}

.language-java, .language-javascript, .language-julia {
    font-family: JetBrainsMono;
}

.codeblock pre {
    margin: 0;
}

pre code.hljs {
    border: 1px solid white;
    border-radius: .2rem;
    width: auto;
    font-size: 0.85em;
    padding: 0.75em !important;
}

.reference {
    color: black;
    background-color:rgb(246, 246, 246);
    border-radius: 0.125rem;
}

a.reference, .reference a {
    color: black;
    text-decoration: none;
}

.reference:hover {            
    background-color:rgb(238, 238, 238);
}

.reference i {
    font-size: 0.75em;
    padding: 2px;
}

.page-link {
    display: inline-block;
    margin-right: 1em;
}

@font-face {
    font-family: IBMPlex;
    src: url("/webfonts/IBMPlexSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: IBMPlexLight;
    src: url("/webfonts/IBMPlexSans-LightRegular.ttf") format('truetype');
}

@font-face {
    font-family: JetBrainsMono;
    src: url("/webfonts/JetBrainsMono-Regular.ttf") format('truetype');
}
